$color-primario: #890500;
$color-secudario: #fef8e2;
$fuente-personalizada: 'MiFuentePersonalizada';

header {
    nav {
        color: $color-primario;
        padding: 20px;
        text-align: center;
        font-family: $fuente-personalizada;
        background-image: url('../imagenes/fondo\ header.jpeg');
        background-size: cover;
        background-position: center;
        border: $color-secudario, solid;
        background-color: #333;
        min-height: 150px;
        background-color: #333;
        padding: 20px;
        text-align: center;
    }
}

.hambur {
    font-size: small;

}


body {
    background-color: #070707;
}

span {
    margin: 10px;
    border: solid $color-primario 4px;
    border-radius: 20%;
    font-size: 325%;
    background-color: $color-secudario;
}

/* pagina "Nosotros */

nav {
    ul {
        list-style: none;
        margin: 10px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

nav {
    li {
        margin: 0 10px;
        padding: 6px;
        font-family: $fuente-personalizada;
        border: solid;
        border-color: $color-primario;
        border-radius: 20%;
        background-color: $color-secudario;
        font-size: 150%;
    }
}

/* pagina "Nosotros */

/* pagina index */



section {
    display: flex;
    width: 99%;
    height: 300%;
    margin: 10px;
    padding-bottom: 20px;
}

#imgprincipal {
    width: 0px;
    flex-grow: 1;
    object-fit: revert;
    transition: 0.5s ease;
    border: solid, $color-secudario;
}

#imgprincipal:hover {
    cursor: crosshair;
    width: 100px;
    opacity: 1;
    filter: contrast(120%);

}

/* pagina index */

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: $color-secudario;
    border: solid ,$color-primario;



}

.core {
    width: 600px;
}


.hamburguer {
    float: right;
    display: none;
    width: 10%;
    min-width: 80px;
    min-height: 80px;
    height: auto;
}


.image-container {

    div {
        margin-right: 20px;
        max-width: 100%;
        object-fit: contain;
    }

}

.image-container {
    div {
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

nav {
    a {
        color: $color-primario;
        text-decoration: none;
        display: flex;
    }
}

nav { a:hover {
    text-decoration: underline;
}
}





.productsContainer {
    display: flex;

}

.products{
     img {
    object-fit: cover;
    height: auto;
    width: 100%;
}
}

.products {
     p {
    color: $color-secudario;
    font-size: 100%;
}
}

.maps {
    height: 50%;
    width: 80%;
    padding-left: 5%;
}

.mainContact {
    background-color: $color-secudario;
    height: auto;
    width: 100%;
}

.mainContact{ h1 {
    font-size: 210%;
    display: flex;
    flex-wrap: wrap;
}
}

.productTable {
    display: flex;
    flex-direction: column;
    background-color: $color-secudario;
}

.imagenP {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 3px;
    margin-right: 20px;
}


#logo {
    width: 10%;
    min-width: 80px;
    min-height: 80px;
    height: auto;
    float: left;
    border: $color-primario ,solid;
    border-radius: 100%;
    padding: 10px;
    background-color: $color-secudario;
}

@font-face {
    font-family: $fuente-personalizada;
    src: url('../fonst/Elegant\ Handwriting.otf') format('truetype');
}

main {

    box-sizing: border-box;

}



div{ label {
    font-family: $fuente-personalizada;
}
}


h1 {
    font-family: $fuente-personalizada;
    text-decoration: underline;
    font-size: 10%;
    padding: 1%;
    margin: 0;
    color: $color-primario;

}


.nosotrosP {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: $color-primario , solid 2px;
    border-radius: 5%;
    padding: 2%;
}

.picadaP {
    height: auto;
    width: auto;
}



iframe {
    height: auto;
    width: auto;
    justify-content: center;
}

* {
    box-sizing: border-box;

}

.card {
    background-color: $color-secudario;
    width: 25%;

}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}


.mainProduct {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2%;
}

.container {
    .btn {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

.container {
    .btn {
        a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}
    }
}

.container .btn:hover a {
    letter-spacing: 3px;
  }
  
  .container .btn a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba (255, 255, 255, 0.15), transparent);
    transform: skewx(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
  }
  
  .container .btn:hover a::before {
    transform: skewx(45deg) translate(200px);
  
  }
  
  .container .btn::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
  }
  
  .container .btn:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    
  }
  
  .container .btn::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
  }
  
  .container .btn:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
  }
  
  .container .btn:nth-child(1)::before,
  
  .container .btn:nth-child(1)::after {
    background: #ff0c65;
    box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
  }
  
  .container .btn:nth-child(2)::before,
  .container .btn:nth-child(2)::after {
    background: #1e21f8;
    box-shadoW: 0 0 5px #1e21f8, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
      0 0 60px #2db2ff;
  }
  
  .container .btn:nth-child(3)::before,
  .container .btn:nth-child(3)::after {
    background: #ff1e1e;
    box-shadow: 0 0 5px #ff1e1e, 0 0 15px #ff1e1e, 0 0 30px #ff1e1e,
      0 0 6px #ff1e1e;
  }
.nosotrosContenedor {
    background-color: white;
    color: $color-primario;
    display: flex;

}

.imgN {
    width: auto;
    height: auto;
}

.nosotrosContenedor {
    img {
    height: 25%;
    width: 25%;

}
}

.titleN {
    font-family: cursive;
    font-size: 250%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

form {

    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #666;
}

input[type="tel"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.formContacto {
    color: $color-primario;
    font-family: cursive;
    font-size: xx-large;
    font-style: inherit;
}

.mainClient {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .card {
        width: 50%;
    }

}

@media screen and (max-width: 500px) {
    .nosotrosContenedor {
        flex-wrap: wrap;
    }

    .nosotrosContenedor img {
        height: 100%;
        width: 100%;
    }




    .divL {
        display: grid;
        height: 200px;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    div span {
        display: none;

    }

    .mainProduct {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .hamburguer {
        display: block;
    }



}